.menus ul {
  display: flex;
  gap: 25px;
}
.menus ul li {
  cursor: pointer;
  color: var(--color_white);
}
.menus ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: var(--color_Black_01);
  font-weight: 500;
}
.menus ul li a.active {
  font-weight: 600;
  color: var(--color_Black_01);
  border-bottom: 3px solid var(--color_Red_02);
}

