.infomation {
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 16px;
}

/* ------ */
.contactInfo,
.agentInfo a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.agentInfo a p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: var(--color_Black_02);
  margin-top: 4px;
}
.agentInfo a span {
  font-size: 12px;
  line-height: 16px;
  color: #505050;
}
.agentInfo img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}
.contactInfo {
  margin-top: 30px;
}
.contactInfo button {
  width: 100%;
  max-width: 190px !important;
}
