.products {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 4px 6px 0px rgba(44, 44, 44, 0.04);
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff;
  cursor: pointer;
}
.products:hover {
  box-shadow: 0px 4px 16px 0px rgba(44, 44, 44, 0.08);
}
.products > img {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.products h3 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: var(--color_Black_02);
  padding-bottom: 7px;
  height: 40px;
  text-align: left;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.infomation {
  margin: 12px 16px 16px 16px;
}
.cart {
  padding-bottom: 7px;
}
.cart span {
  color: var(--color_Red_02);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding-right: 10px;
}
.location span {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}
.interact {
  display: flex;
  justify-content: space-between;
}
.interact span {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal !important;
  display: block;
  color: var(--color_Black_03);
  float: left;
  margin: 8px 0;
}
