.sidebarDetail {
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 16px;
  background-color: #f2f2f2;
}
.sidebarDetail h2 {
  color: #2c2c2c;
  margin-bottom: 16px;
  display: block;
  font-weight: 600;
}
.sidebarDetail h3 {
  padding-bottom: 13px;
}
.sidebarDetail h3:hover {
  color: #999;
}
.sidebarDetail h3 a {
  color: #2c2c2c;
  font-size: 14px;
  line-height: 20px;
}
