.dates {
  display: flex;
  gap: 10px;
  align-items: center;
}
.dates label {
  font-size: 15px;
  width: auto;
  min-width: 120px;
}
.dates > label > span {
  color: var(--color_Red_01);
}
.dates > div {
  width: 100%;
  padding: 7px 10px;
}
.dates > div > input {
  font-size: 14px !important;
}
