.backs {
  width: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.backs span {
  color: var(--color_Blue_01);
}
.backs svg path {
  color: var(--color_Blue_01);
}
