.inputs {
  display: flex;
  gap: 10px;
  align-items: center;
}
.inputs label {
  font-size: 15px;
  width: auto;
  min-width: 120px;
  margin-bottom: 20px;
}

.inputs > label > span {
  color: var(--color_Red_01);
}
.inputs > div {
  width: 100%;
}
.inputs input {
  color: var(--color_Black_01);
  font-weight: 400 !important;
  padding: 7px 10px;
}
.inputs span {
  font-size: 13px;
  line-height: 18px;
  color: var(--color_Red_01);
}
