.selects {
  display: flex;
  gap: 10px;
  align-items: center;
}
.selects label {
  font-size: 15px;
  width: auto;
  min-width: 120px;
}
.selects > label > span {
  color: var(--color_Red_01);
}
.selects > div {
  height: 38px;
}
.selects > div > div > span {
  color: var(--color_Black_01);
  font-weight: 400 !important;
  font-size: 14px;
  line-height: 20px;
}
