.details {
  display: grid;
  grid-template-columns: auto 200px;
  background: #fff !important;
  column-gap: 40px;
  padding-top: 20px;
}
.breadcrumb {
  padding-top: 30px;
}
.breadcrumb span,
.breadcrumb a {
  font-size: 14px;
  line-height: 20px;
  color: var(--color_Black_03);
  padding-right: 3px;
}
.info h1 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: var(--color_Black_02);
  display: block;
}
.info > span {
  font-size: 14px;
  line-height: 20px;
  color: var(--color_Black_03);
  display: block;
  margin-top: 8px;
}

/* -------------- */
.shortInfo {
  margin: 16px 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 15px 0px;
  box-sizing: border-box;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.shortInfo > div {
  display: flex;
  gap: 50px;
}
.shortInfo .title {
  font-size: 14px;
  line-height: 20px;
  color: var(--color_Black_03);
  display: block;
}
.shortInfo .value {
  font-size: 18px;
  line-height: 28px;
  color: var(--color_Black_02);
  margin-top: 4px;
  display: block;
}
.shortInfo .ext {
  font-size: 12px;
  line-height: 16px;
  color: #505050;
  display: block;
}
/* ----------------- */
.productDetail {
  padding-top: 40px;
}
.productDetail > span {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: var(--color_Black_02);
  display: block;
  padding-bottom: 24px;
  font-weight: 600;
}
.productDetail li {
  font-size: 14px;
  line-height: 24px;
}
.specsContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}
.specsContent > div {
  display: flex;
  align-items: center;
  border-top: 1px solid #f2f2f2;
  padding: 10px 0;
  gap: 7px;
}
.specsContent > div span {
  font-size: 14px;
  line-height: 24px;
  color: var(--color_Black_02);
}
.specsContent > div svg {
  font-size: 16px;
}
