/* ------produst------- */
.produst {
  background: var(--color_grey_01);
  padding: 50px;
}
.wap {
  display: grid;
  grid-gap: 36px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
/* -------titles---------- */
.titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
}
.titles > span a {
  color: var(--color_Black_02);
  font-size: 14px;
  line-height: 20px;
}
.titles > span a:hover {
  color: var(--color_Black_03);
}
.showMore {
  text-align: center;
  padding-top: 20px;
}
