.headers {
  display: grid;
  grid-template-columns: 100px auto 100px;
  align-items: center;
  height: 60px;
  transition: top 0.3s ease-in-out;
  border-bottom: 1px solid var(--color_Black_02);
}
.headers {
  background: var(--color_grey_01);
}
.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  height: 50px;
  box-shadow: 0px 4px 8px rgba(182, 182, 182, 0.18);
}
