.shortInfo {
  margin-top: 40px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 15px 0px;
  box-sizing: border-box;
  display: flex;
}
.shortInfo div {
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.shortInfo span {
  font-size: 14px;
  line-height: 20px;
  display: block;
}
.shortInfo .title {
  color: #999;
}
.shortInfo .value {
  color: #2c2c2c;
}
