body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--color_Black_01);
}

:root {
  --color_Black: #000000;
  --color_Black_01: #151515;
  --color_Black_02: #2c2c2c;
  --color_Black_03: #999;
  --color_white: #fff;
  --color_green_01: #508d4e;
  --color_Blue_01: #0766ad;
  --color_Red_01: #ff0000;
  --color_Red_02: #e03c31;
  --color_grey_01: #fafafa;
}

a {
  text-decoration: none;
  color: var(--color_Blue_01);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a,
button {
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: none;
}

a,
p,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: auto;
}
